---
layout: default
title: Início
---

<h1>Artigos</h1>

<ul class="listaArtigos">
    {% assign artigos = site.artigos | sort: "date" | reverse %}
    {% for artigo in artigos %}
    <li>
        <a href="{{ artigo.url | relative_url }}" class="artigoCard">
            {% if artigo.image %}
            <img class="artigoCard-img" src="{{ artigo.image | relative_url }}"
                alt="{{ artigo.title }}"
                loading="lazy">
            {% else %}
            <img class="artigoCard-img" src="{{ '/assets/images/fff.png' | relative_url }}"
                alt="{{ artigo.title }}"
                loading="lazy">
            {% endif %}
            <div class="artigoCard-text">
                <h2>{{ artigo.title }}</h2>
                <p>{{ artigo.description }}</p>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>